@{
    ViewBag.Title = "Newspaper";
}

<div class="jumbotron">
    <h1>Newspaper</h1>
    <p class="lead">Say what you need to say</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Your Newpaper
        </p>
    </div>
</div>